*{
    margin: 0px;
    padding: 0px;
}

body{

    font-family: 'Baloo Bhaijaan 2', cursive;
    
    

}


 h6{
     color: rgb(255, 255, 255) !important;
     border: 0 !important;
     margin: 30px  auto!important;
     
 }


.certificados{
    width: 400px;
    border-radius: 30px;
    background-color: #97b0c7;
}

.certificado{
    color: #ffffff;
    font-size:30px;
    text-align: center;
    border-bottom: 2px solid #000000;
    margin: auto;
}


.p_certificado{
    margin-top:30px;
    margin-bottom: 30px;
    color:#ffffff;
    text-align:center;
    font-size:12px;
}

 .voltar_certificado{
    margin: auto;
    padding: 10px;
    font-size:25px;
    margin-top: 10px;
    color:#ffffff;
    margin-bottom: 50px;
    width: 90vw;
}


.voltar_certificado:hover{
    margin: auto;
    padding: 10px;
    font-size:25px;
    margin-top: 10px;
    color: #ada7a7;
    margin-bottom: 50px;



}





/* MEUS CERTIFICADOS*/ 



@media (max-width:600px) {


    
    .titulocertificado{       
    font-size: 30px !important;
    text-align: center;
    margin: auto;
    background-color: #93c1c793;
    border-radius: 20px;
    padding-bottom: 40px;
    color: #ffffff;

    }

    img.certificados{
        width: 70vw;
    }

    a.voltar_certificado{
        font-size: 20px !important;
      
    }

    h1.titulocertificado{
        padding-top: 30px;
    }

        
    }


